<!DOCTYPE html>
<html lang="en">

  <head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Bruteforce web services website">
    <meta name="author" content="Olu Michael">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="icon" href=""><!-- Site Title  --><title>Bruteforce</title>
    <meta name="theme-color" content="#0027e3">
      <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#0027e3">
  <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#0027e3">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>Bruteforce web services</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" >


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}" >
    <link rel="stylesheet" href="{% static 'assets/css/templatemo-onix-digital.css' %}" >
    <link rel="stylesheet" href="{% static 'assets/css/animated.css' %}" >
    <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}" >

<!--


-->
  </head>

<body style="background-color: white;">

  <!-- ***** Preloader Start ***** -->

  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container" style="background-color: white; min-width: 100%">
      <div class="row" style="background-color: white; min-width: 100%">
        <div class="col-12" style="background-color: white; min-width: 100%">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="index.html" class="logo">
              <img src="{% static 'assets/images/brute.png' %}" style="max-width: 250px; max-height: 80px; margin-left:-20;top:-20">
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
              <li class="scroll-to-section"><a href="#services">Services</a></li>
              <li class="scroll-to-section"><a href="#about">About</a></li>
              <li class="scroll-to-section"><a href="#portfolio">Portfolio</a></li>
              <li class="scroll-to-section"><a href="#contact">Contact Us</a></li> 
              <li class="scroll-to-section"><div class="main-red-button-hover"><a href="https://wa.me/message/3ETYONMC7YTCG1">Contact Us Now</a></div></li>
            </ul>        
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <div class="main-banner" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="owl-carousel owl-banner">
                <div class="item header-text">
                  <h6>Welcome to Bruteforce</h6>
                  <h2>Build <em>your website</em> The best in <span>web design</span>!</h2>
                  <p>We design and develop all kinds of WEBSITES, from small scale to large scale websites for all purposes at breathtaking and unbelievably affordable prices.</p>
                  <div class="down-buttons">
                    <div class="main-blue-button-hover">
                      <a href="tel:+2348108105750">Call Us Now</a>
                    </div>
                    <hr>
                    <div class="call-button">
                      <a href="https://wa.me/message/3ETYONMC7YTCG1"><i class="fa fa-whatsapp"></i></a>
                    </div>
                  </div>
                </div>
                <div class="item header-text">
                  <h6>Online Marketing</h6>
                  <h2>Get the <em>best ideas</em> for <span>your website</span></h2>
                  <p>We provide high quality products from our dev team to bring you the best for your business and improve business growth through online presence.</p>
                  <div class="down-buttons">
                    <div class="main-blue-button-hover">
                      <a href="#services">Our Services</a>
                    </div>
                    <hr>
                    <div class="call-button">
                      <a href="https://wa.me/message/3ETYONMC7YTCG1"><i class="fa fa-whatsapp"></i></a>
                    </div>
                  </div>
                </div>
                <div class="item header-text">
                  <h6>Lower rates</h6>
                  <h2>Get <em>your high quality</em> websites <span>at lower rates</span></h2>
                  <p>We offer the most amazing prices to new and existinng customers, while bringing you the best quality services which your business needs and deserve.</p>
                  <div class="down-buttons">
                    <div class="main-blue-button-hover">
                      <a href="#pricing">Price List</a>
                    </div>
                    <hr>
                    <div class="call-button">
                      <a href="https://wa.me/message/3ETYONMC7YTCG1"><i class="fa fa-whatsapp"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="services" class="our-services section">
    <div class="services-right-dec">
      <img src="{% static 'assets/images/services-right-dec.png' %}" alt="">
    </div>
    <div class="container">
      <div class="services-left-dec">
        <img src="{% static 'assets/images/services-left-dec.png' %}" alt="">
      </div>
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading">
            <h2>We <em>Provide</em> The Best Service With <span>Our Tools</span></h2>
            <span>Our Services</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="owl-carousel owl-services">
            <div class="item">
              <h4>Develop The Best Strategy for Business</h4>
              <div class="icon"><img src="{% static 'assets/images/service-icon-02.png' %}" alt=""></div>
              <p>Get the best ideas to improve business growth</p>
            </div>
            <div class="item">
              <h4>UI / UX Design and Development</h4>
              <div class="icon"><img src="{% static 'assets/images/service-icon-03.png' %}" alt=""></div>
              <p>Get to know more about the topic in details</p>
            </div>
            <div class="item">
              <h4>Discover &amp; Explore our SEO Tips</h4>
              <div class="icon"><img src="{% static 'assets/images/service-icon-04.png' %}" alt=""></div>
              <p>Strengthen your online presence and expand</p>
            </div>
            <div class="item">
              <h4>Optimizing your websites for Speed</h4>
              <div class="icon"><img  src="{% static 'assets/images/service-icon-01.png' %}" alt=""></div>
              <p>We produce fast and responsive websites</p>
            </div>
            <div class="item">
            </div>
            <div class="item">
              <h4>Best Content Ideas for your pages</h4>
              <div class="icon"><img  src="{% static 'assets/images/service-icon-03.png' %}" alt=""></div>
              <p>Feel free to use this template for your business</p>
            </div>
            <div class="item">
              <h4>Accessibility for mobile viewing</h4>
              <div class="icon"><img  src="{% static 'assets/images/service-icon-01.png' %}" alt=""></div>
              <p>We provide the most responsive websites for any device</p>
            </div>
            <div class="item">
              <h4>Discover the digital marketing trend</h4>
              <div class="icon"><img  src="{% static 'assets/images/service-icon-04.png' %}" alt=""></div>
              <p>Get to know about the best options available for you</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="about" class="about-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="left-image">
            <img src="{% static 'assets/images/about-left-image.png' %}" alt="Two Girls working together">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="section-heading">
            <h2>Grow your website with our <em>SEO Tools</em> &amp; <span>Project</span> Management</h2>
            <p>We also provide maintenance services to your website or other projects when you use and subscribe to our services.</p>
            <div class="row">
              <div class="col-lg-4">
                <div class="fact-item">
                  <div class="count-area-content">
                    <div class="icon">
                      <img src="{% static 'assets/images/service-icon-01.png' %}" alt="">
                    </div>
                    <div class="count-digit">320</div>
                    <div class="count-title">SEO Projects</div>
                    <p>We offer SEO optimisation for your websites</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="fact-item">
                  <div class="count-area-content">
                    <div class="icon">
                      <img src="{% static 'assets/images/service-icon-02.png' %}" alt="">
                    </div>
                    <div class="count-digit">640</div>
                    <div class="count-title">Websites</div>
                    <p>Over 600 websites created by our dev team for our esteemed customers</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="fact-item">
                  <div class="count-area-content">
                    <div class="icon">
                      <img src="{% static 'assets/images/service-icon-03.png' %}" alt="">
                    </div>
                    <div class="count-digit">120</div>
                    <div class="count-title">Satisfied Clients</div>
                    <p>Customer satisfaction is our priority at Bruteforce web services</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="portfolio" class="our-portfolio section">
    <div class="portfolio-left-dec">
          <img src="{% static 'assets/images/portfolio-left-dec.png' %}" alt="">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading">
            <h2>Our Recent <em>Projects</em> &amp; Case Studies <span>for Clients</span></h2>
            <span>Our Portfolio</span>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="owl-carousel owl-portfolio">
            <div class="item">
              <div class="thumb">
                <img src="{% static 'assets/images/portfolio1.png' %}" alt="">
                <div class="hover-effect">
                  <div class="inner-content">
                    <a rel="sponsored" href="http://www.bitchedda.com" ><h4>bitchedda.com</h4></a>
                    <span>Crypto-currency investment website</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="thumb">
                <img src="{% static 'assets/images/portfolio-02.jpg' %}" alt="">
                <div class="hover-effect">
                  <div class="inner-content">
                    <a href="#"><h4>Project Two</h4></a>
                    <span>SEO &amp; Marketing</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="thumb">
               <img src="{% static 'assets/images/portfolio-03.jpg' %}" alt="">
                <div class="hover-effect">
                  <div class="inner-content">
                    <a rel="sponsored" href="https://templatemo.com/tm-562-space-dynamic" target="_parent"><h4>Third Project</h4></a>
                    <span>Space Dynamic SEO</span>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="pricing" class="pricing-tables">
    <div class="tables-left-dec">
      <img src="{% static 'assets/images/tables-left-dec.png' %}" alt="">
      <img src="{% static 'assets/images/tables-left-dec.png' %}" alt="">
    </div>
    <div class="tables-right-dec">
      <img src="{% static 'assets/images/tables-right-dec.png' %}" alt="">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading">
            <h2>Select a suitable <em>plan</em> for your next <span>projects</span></h2>
            <span>Our Plans</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="item first-item">
            <h4>Static single page website</h4>
            <em>₦60,000</em>
            <span>₦40,000</span>
            <ul>
              <li>1 Page</li>
              <li>₦10,000 for extra pages</li>
              <li>Images included</li>
              <li>SEO optimisation</li>
              <li>Web hosting & domain registration</li>
            </ul>
            <div class="main-blue-button-hover">
              <a href="https://wa.me/message/3ETYONMC7YTCG1">Get Started</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="item second-item">
            <h4>Dynamic websites</h4>
            <em>₦100,000</em>
            <span>₦80,000</span>
            <ul>
              <li>1-5 pages</li>
              <li>₦15,000 for extra pages</li>
              <li>Extra functionality</li>
              <li>Images included</li>
              <li>Database enabled</li>
              <li>SEO optimisation</li>
              <li>Web hosting & domain registration</li>
            </ul>
            <div class="main-blue-button-hover">
              <a href="https://wa.me/message/3ETYONMC7YTCG1">Get it Now</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="item third-item">
            <h4>Blogs</h4>
            <em>₦200,000</em>
            <span>₦150,000</span>
            <ul>
              <li>1-10 pages</li>
              <li>₦15,000 for extra pages</li>
              <li>Extra functionality</li>
              <li>Images included</li>
              <li>Google AdSense enabled</li>
              <li>SEO optimisation</li>
              <li>Web hosting & domain registration</li>
            </ul>
            <div class="main-blue-button-hover">
              <a href="https://wa.me/message/3ETYONMC7YTCG1">Contact us</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="item second-item">
            <h4>E-commerce websites</h4>
            <em>₦300,000</em>
            <span>₦200,000</span>
            <ul>
              <li>1-10 pages</li>
              <li>₦15,000 for extra pages</li>
              <li>Extra functionality</li>
              <li>Images included</li>
              <li>Google AdSense enabled</li>
              <li>SEO optimisation</li>
              <li>Web hosting & domain registration</li>
            </ul>
            <div class="main-blue-button-hover">
              <a href="https://wa.me/message/3ETYONMC7YTCG1">Get it Now</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="item second-item">
            <h4>Investment websites</h4>
            <em>₦300,000</em>
            <span>₦200,000</span>
            <ul>
              <li>1-10 pages</li>
              <li>₦15,000 for extra pages</li>
              <li>Extra functionality</li>
              <li>Images included</li>
              <li>Google AdSense enabled</li>
              <li>SEO optimisation</li>
              <li>Web hosting & domain registration</li>
            </ul>
            <div class="main-blue-button-hover">
              <a href="https://wa.me/message/3ETYONMC7YTCG1">Send a message</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="subscribe" class="subscribe">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="inner-content">
            <div class="row">
              <div class="col-lg-10 offset-lg-1">
                <h2>Subscribe to our news letter</h2>
                <form id="subscribe" action="{% url 'news' %}" method="post">
                   {% csrf_token %}
                  <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email" required="">
                  <button type="submit" id="form-submit" class="main-button ">Subscribe</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div id="contact" class="contact-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 align-self-center">
          <div class="section-heading">
            <h2>Feel free to <em>Contact</em> us via the <span>form below</span></h2>
          </div>
          <form id="contact" action="{% url 'contact' %}" method="post">
              {% csrf_token %}
            <div class="row">
              <div class="col-lg-12">
                <fieldset>
                  <input type="name" name="name" id="name" placeholder="Name" autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <input type="surname" name="surname" id="surname" placeholder="Surname" autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email" required="">
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <input type="text" name="message" id="message" placeholder="Your Message" required="">
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="main-button">Submit Request</button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="contact-dec">
          <img src="{% static 'assets/images/contact-dec.png' %}" alt="">
    </div>
    <div class="contact-left-dec">
      <img src="{% static 'assets/images/contact-left-dec.png' %}" alt="">
    </div>
  </div>

  <div class="footer-dec">
     <img src="{% static 'assets/images/footer-dec.png' %}" alt="">
  </div>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="about footer-item">
            <div class="logo">
              <img src="{% static 'assets/images/logo.png' %}" alt="">
              <a href="#"><img src="{% static 'assets/images/logo.png' %}" alt=""></a>
            </div>
            <a href="#">office.bruteforce@gmail.com</a>
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://www.instagram.com/bruteforce_devops/"><i class="fa fa-instagram"></i></a></li>
              <li><a href="https://wa.me/message/3ETYONMC7YTCG1"><i class="fa fa-whatsapp"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="services footer-item">
            <h4>Services</h4>
            <ul>
              <li><a href="#">Website Design & Development</a></li>
              <li><a href="#">Hosting & Domain Registration</a></li>
              <li><a href="#">Social & Digital Marketing</a></li>
              <li><a href="#">Website Optimization</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="community footer-item">
            <h4>Community</h4>
            <ul>
              <li><a href="#">Digital Marketing</a></li>
              <li><a href="#">Business Ideas</a></li>
              <li><a href="#">Website Checkup</a></li>
              <li><a href="#">Seo Optimisation</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="subscribe-newsletters footer-item">
            <h4>Subscribe Newsletters</h4>
            <p>Get our latest news and ideas to your inbox</p>
            <form action="{% url 'news' %}" method="post">
               {% csrf_token %}
              <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email" required="">
              <button type="submit" id="form-submit" class="main-button "><i class="fa fa-paper-plane-o"></i></button>
            </form>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="copyright">
            <p>Copyright © 2021 Bruteforce web services co. All Rights Reserved.
            <br>
            Powered by Bruteforce</p>
          </div>
        </div>
      </div>
    </div>
  </footer>


  <!-- Scripts -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}" ></script>
  <script src="{% static 'assets/js/owl-carousel.js' %}" ></script>
  <script src="{% static 'assets/js/animation.js' %}" ></script>
  <script src="{% static 'assets/js/imagesloaded.js' %}" ></script>
  <script src="{% static 'assets/js/custom.js' %}" ></script>


  <script>
  // Acc
    $(document).on("click", ".naccs .menu div", function() {
      var numberIndex = $(this).index();

      if (!$(this).is("active")) {
          $(".naccs .menu div").removeClass("active");
          $(".naccs ul li").removeClass("active");

          $(this).addClass("active");
          $(".naccs ul").find("li:eq(" + numberIndex + ")").addClass("active");

          var listItemHeight = $(".naccs ul")
            .find("li:eq(" + numberIndex + ")")
            .innerHeight();
          $(".naccs ul").height(listItemHeight + "px");
        }
    });
  </script>
</body>
</html>